html , body
{

    height: 100%;
    margin: 0;  
    color:#7A6E52 ;
    overflow-x: hidden;
    
}
header
{
    width: 100%;
    color: black;
    background-color: #CED6AB;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 10%;


  
    

   
    
    
    
}
.rightSection
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
}

.search
{
    padding: 1% 3%;
    background-color: #d9e0c6; 
    border:0; 
    border-radius: 12px;
  
    color: #4b4b4b;
    width: 300px;
    font-size: 180%;
    text-align: left;
    width: 200%;
    margin-left: 8%;
  

    

    



}
input:focus
{
    outline: none;
    border: 0;
}
h1
{
  
    height: 5%;
    font-size: 390%;
  
    
    
}
a
{
   
    font-size: 150%;
  
    border: 2px solid #495900;
    background-color: #495900;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.25%;
    color: white ;
    height: 30%;
    margin-right: 5%;

}

.container 
{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    height: auto;
    width: 100%;
    padding:5% 0 5% 0 ;
    background-color: #F2EAD7;  
    color: black;

   
    
}

.section 
{
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.25%;
    padding: 0;
   
    
}

.detail
{
  width:74.5%;
  text-align: justify;

}
h2
{
    text-align: left;
    font-size: 280%;
    margin: 0;
    padding: 0;
}
p
{
    font-size:  230%;
    margin: 0.25%;
    padding: 0;
}
.picture
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;


    


}
.img
{
    width: 10%;
    height: 10%;
    padding: 2.75%;
    
}


footer
{
    width: 100%;
    color: black;
    background-color: #CED6AB;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 10%;

}
