html , body
{

    height: 100%;
    margin: 0;  
    color:#F0E7D8 ;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: auto;


  
    

   
    
    
    
}
.rightSection
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    
}

#search
{
    padding: 5% 4%;
    background-color: #F5F5F5; 
    border:0; 
    border-radius: 30px;
    color:#8C271E;
    font-size: 145%;
    text-align: left;
    width: 250%;
    margin-left: 10%;
    
  

    

    



}
input:focus
{
    outline: none;
    border: 0;
}
h1
{
  
    height: 5%;
    font-size: 390%;
  
    
    
}
#login
{
   
    font-size: 150%;
    background-color:#8C271E;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.25%;
    color: white ;
    height: 30%;
    margin-right: 5%;
    width: 20%;
    height: auto;
    padding: 0.25%;
    text-align: center;

}

.container 
{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    height: auto;
    width: 100%;
    padding:5% 0 5% 0 ;
    background-color: #F2EAD7;  
    color: black;

   
    
}

.section 
{
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.25%;
    padding: 0;
   
    
}

.detail
{
  width:74.5%;
  text-align: justify;

}
h2
{
    text-align: left;
    font-size: 280%;
    margin: 0;
    padding: 0;
}
p
{
    font-size:  230%;
    margin: 0.25%;
    padding: 0;
}
.picture
{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;



    


}
.img
{
    width: 10%;
    height: 10%;
    padding: 2.75%;
    
}


footer
{
    width: 100%;
    color: black;
    background-color: #CED6AB;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 10%;

}
